<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <h1>Header added by Jean-Louis</h1>

<%= yield %>
<p>Footer added by Jean-Louis</p>

</body>
</html>
